extends layout

block content
  h1= title
  p Welcome to #{title}
  button#route01Button(style='width: 75px; height: 25px; margin-right: 15px;') Route01
  button#route02Button(style='width: 75px; height: 25px; margin-right: 15px;') Route02
  button#route03Button(style='width: 75px; height: 25px;') Route03

  pre#output